node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Foundry files
cache_forge
out/*

# coverage output
lcov.info


# packaging
dist/
package-build/

.idea
.vsls.json

# vscode
.vscode

# hardhat-deploy
deployments

# .github
.github

# foundry related
lib/
out/
