name: publish docs

on:
  pull_request:
    types:
      - closed
    paths:
      - contracts/**
      - docs/**
      - .github/workflows/publish-docs.yml
permissions:
  contents: write

jobs:
  Docs:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    env:
      NODE_AUTH_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
    steps:
      - uses: chromatic-protocol/action-setup-foundry-yarn@v1
        with:
          scope: '@chromatic-protocol'
          ignore-scripts: false
          node-auth-token: '${{ secrets.GITHUB_TOKEN }}'
      - uses: chromatic-protocol/action-github-app-token@v1
        id: generate-token
        with:
          app_id: ${{ secrets.PR_ACTION_APP_ID }}
          private_key: ${{ secrets.PR_ACTION_PRIVATE }}
      # make a PR to chromatic-protocol/docs
      - uses: actions/checkout@v3
        with:
          repository: chromatic-protocol/docs
          ref: main
          path: docs-repo
          token: ${{ steps.generate-token.outputs.token }}
      - run: |
          yarn docs
          cp -r docs/out/* docs-repo/docs/contracts/reference/
      - name: pull-request
        uses: peter-evans/create-pull-request@v5
        with:
          base: main
          branch: docs/contracts
          path: docs-repo
          add-paths: docs/contracts/reference/**
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: ${{ github.event.pull_request.title }}
