name: release and publish sdk

on:
  pull_request:
    types:
      - closed
    paths:
      - contracts/**
      - deploy/**
      - deployments/**
      - package.json
      - hardhat.config.ts
      - hardhat-package.config.ts
      - wagmi.config.ts
      - .github/workflows/release-publish-sdk.yml
permissions:
  contents: write

jobs:
  Release:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.changelog.outputs.tag }}
      version: ${{ steps.changelog.outputs.version }}
    steps:
      - uses: actions/checkout@v3 # Checkout our working repository
      - name: Conventional Changelog Action
        id: changelog
        uses: chromatic-protocol/conventional-changelog-action@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          output-file: false
          pre-release: true
          git-push: true
          skip-on-empty: false
          # skip-version-file: false
          # skip-commit: false
      - name: Create Release # This action will create the actual release
        uses: actions/create-release@v1.1.4
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.changelog.outputs.tag }}
          release_name: ${{ steps.changelog.outputs.tag }}
          body: ${{ steps.changelog.outputs.clean_changelog }}
          prerelease: true
  Publish:
    needs: Release
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: chromatic-protocol/action-setup-foundry-yarn@v1
        with:
          registry-url: https://registry.npmjs.org
          scope: '@chromatic-protocol'
          node-auth-token: '${{ secrets.NPM_CHROMATIC }}'

      - name: generate typechain code and publish contracts
        env:
          ALCHEMY_KEY: ${{ secrets.ALCHEMY_KEY }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_CHROMATIC }}
          DRPC_KEY: ${{ secrets.DRPC_KEY }}
        run: |
          yarn clean
          yarn build
          yarn build:ethers-v6
          yarn wagmi generate
          npm pkg set dependencies="`npm pkg get dependencies`" --prefix ./contracts --json
          yarn publish --new-version="${{ needs.Release.outputs.version }}" --cwd contracts --no-git-tag-version --no-commit-hooks --access public
      - uses: chromatic-protocol/action-github-app-token@v1
        id: generate-token
        with:
          app_id: ${{ secrets.PR_ACTION_APP_ID }}
          private_key: ${{ secrets.PR_ACTION_PRIVATE }}
      # make a PR to chromatic-protocol/sdk
      - uses: actions/checkout@v3
        with:
          repository: chromatic-protocol/sdk
          ref: main
          path: sdk
          token: ${{ steps.generate-token.outputs.token }}
      - run: |
          rm -rf sdk/packages/sdk-ethers-v5/src/gen/*
          rm -rf sdk/packages/sdk-ethers-v6/src/gen/*
          cp -r package-build-v5/src.ts/* sdk/packages/sdk-ethers-v5/src/gen/
          cp -r package-build-v6/src.ts/* sdk/packages/sdk-ethers-v6/src/gen/
          cp wagmi/index.ts sdk/packages/sdk-viem/src/gen/index.ts
      - name: pull-request
        uses: peter-evans/create-pull-request@v5
        with:
          base: main
          branch: develop
          path: sdk
          add-paths: |
            packages/sdk-ethers-v5/src/gen/**
            packages/sdk-ethers-v6/src/gen/**
            packages/sdk-viem/src/gen/index.ts
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: ${{ github.event.pull_request.title }}
          title: Changes from contracts
